@import url("../node_modules/milligram/dist/milligram.css");

body {
    background: #642B73;
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);
    background: linear-gradient(to right, #C6426E, #642B73);
}

.form-title {
    text-align: center;
}

.participation-form {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: auto;
    min-width: 250px;
    width: 25%;
    padding: 2.5rem;
    border-radius: 8px;
    margin: 100px auto;
}